config SND_SOC_TFA986X
	tristate "TFA9866 Goodix Smart Amplifier support"
	depends on I2C
	depends on LEDS_CLASS
	help
	  The TFA9966 smart amplifier. 

	  To compile this driver as a module, choose M here: the
	  module will be called snd_soc_tfa986x.

config TFA_STEREO_NODE
        bool "Stereo sysfs node support"
        default y
        help
          Extend sysfs nodes for stereo support.
          In application, it's necessary to differ nodes between channels.
          In mono case, it provides with 'NODE_NAME', and
          in stereo case, it provides 'NODE_NAME' for left and 'NODE_NAME'_r for right.

config PLATFORM_EXYNOS
        bool "Exynos platform support"
        default y
        help
          Enable compile options for Exynos platform.
          It adapts codec driver to the target platform.
          It encloses the options, used in codec driver, for Exynos platform.
          It differs the configuration between Exynos platform and the others.
